<app-navbar></app-navbar>
<section class="text-gray-600 body-font min-h-[569px] w-full px-2 md:px-5">
    <div class="container mx-auto py-5 px-0 justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-6">

            <ng-container *ngIf="posts.length > 0; else noPostsMessage">
                <app-postcard *ngFor="let post of posts" [post]="post"
                    (tagClick)="loadByTagHandler($event)"></app-postcard>
            </ng-container>
        </div>

        <ng-template #noPostsMessage>
            <p>No posts available.</p>
        </ng-template>
    </div>

</section>
<app-footer></app-footer>