<app-navbar></app-navbar>
<section class="text-gray-600 body-font min-h-[569px] w-full px-2 md:px-5">

    <div class="mx-auto py-5 justify-center flex flex-col items-center gap-8">
        <div class="flex flex-col md:flex-row gap-3 w-full items-center">
            <app-tags-select [posts]="posts" [uniqueTags]="uniqueTags" (loadPosts)="loadPosts()"
                (searchTagEvent)="loadByTagHandler($event)" class=" w-full flex-1"></app-tags-select>
            <app-search-bar [posts]="posts" (loadPosts)="loadPosts()" class="w-full flex-2"
                (searchEvent)="loadByTagHandler($event)"></app-search-bar>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-6"
            *ngIf="posts.length > 0; else noPostsMessage">
            <app-postcard *ngFor="let post of posts" [post]="post" (tagClick)="loadByTagHandler($event)"></app-postcard>
        </div>

        <ng-template #noPostsMessage>
            <p>No posts available.</p>
        </ng-template>
    </div>
</section>

<app-footer></app-footer>